body{
    background-color: #596B75;

}

.main-div{
    border: 1px solid black;
    width: 600px;
    margin: auto;
    background-color: #A0AFB7;

}


.form-control{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control label{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 200px;
    margin-left: 5px;
}

.form-control .inputs{
    font-size: 16px;
    width: 200px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    
}


.form-control i{
    position: relative;
    left: -3px;
    margin-top: 3px;
    visibility: hidden;
    color: red;

}


.form-control small{
    visibility: hidden;
    position: relative;
    color: red;
}

input[type=submit]{
    width: 150px;
    display: block;
    margin: auto;
    height: 40px;
    background-color: #596B75;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 40;
    color: white;
}


/*subject infro*/

#subjectId{
    display: block;
    width: 150px;
    border-bottom: 5px solid red;
    margin-bottom: 10px;
    
}


input[type=checkbox]{
    display: inline-block
}

 #checkboxBio{
    display: none;
}

#checkboxPhysical{
    display: none;
}

#checkboxSor{
    display: none;
}

#checkboxCm{
    display: none;
}

